ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.menu {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
a {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  text-decoration: none;
}
a:hover {
  color: black;
}

/* Tiner */
body {
  padding: 36px 156px;
}

.timer {
  margin-top: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  min-width: 346px;
  height: 72px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 72px;
}
.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
#datetime-picker {
  width: 272px;
  height: 34px;
  border: 1.6px solid #989898;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
[data-start] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
[data-start]:disabled {
  color: #989898;
  background: #cfcfcf;
}
[data-start]:hover {
  background: #6c8cff;
}

#datetime-picker:active {
  border: 1.6px solid #4e75ff;
  color: #000;
}

#datetime-picker:disabled {
  border: 1.6px solid #808080;
  color: #808080;
}

#datetime-picker:hover {
  border: 1.6px solid #2e2f42;
  color: #2e2f42;
}

/* Snackbar */
form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  width: 360px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
form > label > input {
  height: 40px;
  border: 1px solid #808080;
}
form > label > input:hover {
  border: 1px solid #2e2f42;
}
form > label > input:checked {
  border: 1px solid #4e75ff;
}
fieldset {
  padding: 0 0 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 334px;
  height: 64px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  margin-bottom: 24px;
  border: 1px solid #808080;
}
fieldset:hover {
  border: 1px solid #2e2f42;
}

fieldset:checked {
  border: 1px solid #757575;
}

[name='state'] {
  border: 1px solid #757575;
  border-radius: 14px;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-bottom: 8px;
}

fieldset > label {
  display: flex;
  justify-content: center;
  align-items: center;
}

form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

form > button:hover {
  background: #6c8cff;
}
